#login, #signup, #confirm-email, #confirm-device, #challenge {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        form {
            width: 320px;
        }
    }
}
